<app-jumbotron></app-jumbotron>
<div class="container">
  <div class="row">
    <app-card [item]="0"></app-card>
    <app-card [item]="1"></app-card>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>"Be Prepared"</h2>
      <p>That means you are always in a state of readiness in mind and body to do your DUTY.</p>
    </div>
    <div class="col text-center">
      <h2>"Do a Good Turn Daily"</h2>
      <p>This is the slogan of the Boy Scouts</p>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Scout Camp 2017</h2>
      <p>"Outdoor adventure is the promise made to a boy when he joins Scouting... luckily summer camp is full of adventure! Don't delay getting Scouts to experience the adventures of Scouting."</p>
      <a class="btn btn-secondary">Learn More</a>
    </div>
  </div>
</div>
